ChatBotTemplateN8N.json
{
  "name": "Chat bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "getMessage",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        -300
      ],
      "id": "5857a8f5-c642-47c7-9929-55cb470da7c9",
      "name": "Webhook",
      "webhookId": "dc595994-feb7-4016-a7cb-de287602a1bd"
    },
    {
      "parameters": {
        "options": {
          "systemPromptTemplate": "Use the following pieces of context to answer the users question.\n\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n\nRespond in spanish and politely.\n\nAlways return plain text answers suitable to be embedded in a JSON field.\nAvoid unescaped quotes, raw newlines (\\n), or backticks unless needed for code blocks.\n\nIf your answer includes code, enclose it in triple backticks (```), and ensure it's escaped properly.\n\n----------------\n{context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.4,
      "position": [
        -120,
        -220
      ],
      "id": "b9f0e120-3a30-40c4-a1f7-6e05c9d55a09",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": "qwen:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -180,
        0
      ],
      "id": "c2ae0f8a-5ca5-4162-9224-05dd1ea90eee",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "F65rK6a3TTs65VS2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        40,
        40
      ],
      "id": "04b65af3-1a44-41c8-8560-0949f33c5348",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "chat_test",
          "mode": "list",
          "cachedResultName": "chat_test"
        },
        "options": {
          "searchFilterJson": "{\n  \"should\": [\n    {\n      \"key\": \"metadata.batch\",\n      \"match\": {\n        \"value\": 12345\n      }\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        140,
        240
      ],
      "id": "63b99d99-fd19-48c3-9f43-4b8687ee3901",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "3F35ZKro2oX5CbGI",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        240,
        440
      ],
      "id": "3859b01b-a93d-4382-9a3d-e500a7b841a5",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "F65rK6a3TTs65VS2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4ea019f-9e1f-464c-b6df-4ba778db65bf",
              "name": "chatInput",
              "value": "={{ $json.body.message || \"Hola, ¿que tal estás?\" }}",
              "type": "string"
            },
            {
              "id": "cf2d58a6-cd8f-4674-83ce-0cff8774871b",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "number"
            },
            {
              "id": "47a07583-130d-4ee8-8f2c-cda196b8dee6",
              "name": "session_id",
              "value": "={{ $json.body.session_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -180
      ],
      "id": "b22b90dd-8e54-40e1-bc56-bd1049727506",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      chatInput: $json.body?.message ?? \"Hola! ¿Cómo te encuentras?\",\n      userId: 123,\n      session: 123,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -560
      ],
      "id": "a6f23f91-d90d-4c53-9f34-c7dbad3339d8",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        -260
      ],
      "id": "2db5a458-bb2b-4943-af0b-6e0b2414ef6b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "212203ad-e580-409e-9d42-718156bb81fd",
              "name": "message",
              "value": "={{ ($json.response.text) }}",
              "type": "string"
            },
            {
              "id": "ef97705f-bd4b-4ed8-a2f7-cfdd55d87830",
              "name": "user_id",
              "value": "={{ $('Edit Fields').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "d8e4fdd8-bfbe-496f-9b5f-6764e1082673",
              "name": "session_id",
              "value": "={{ $('Edit Fields').item.json.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -240
      ],
      "id": "ce48904f-7b22-4a15-a9de-a59409877fa1",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f891e8dd-861b-4d5c-bc20-8674c22136c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "92KunNwGlm4ZkXSy",
  "tags": []
}